@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --color-1: #fff;
  --color-2: black;
  --color-3: hsl(101, 85%, 53%);
  --color-4: #f63b3b;
  --color-5: hsl(204, 94%, 73%);
  --color-6: hsl(194, 71%, 93%);
  --color-7: #e3e3e3;
  --light-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  --bright-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  --color-8: hsl(204, 94%, 53%);
  --color-9: hsl(204, 94%, 90%);
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 3rem;
}

body {
  background-color: var(--color-6);
  font-family: "roboto", Arial, sans-serif;
  line-height: 1.5;
}

.title {
  text-align: center;
  margin-bottom: 5rem;
}
.title h1 {
  margin: 20px auto;
}
.title #underline {
  width: 150px;
  height: 5px;
  background-color: var(--color-5);
  border-radius: 5px;
  margin: auto;
}

.mainContainer {
  width: 600px;
  margin: 0px auto;
  background-color: var(--color-1);
  padding: 20px;
  border-radius: 5px;
  box-shadow: var(--light-shadow);
  text-align: center;
}
.mainContainer:hover {
  box-shadow: var(--bright-shadow);
}
.mainContainer .imageContainer {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  margin: 0px auto;
  margin-bottom: 1.5rem;
}
.mainContainer .imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  position: relative;
}
.mainContainer .imageContainer::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: inherit;
  position: absolute;
  background-color: var(--color-5);
  top: -5px;
  right: -10px;
}
.mainContainer .imageContainer i {
  background-color: var(--color-5);
  color: var(--color-1);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  z-index: 1;
}

.mainContainer #customerName {
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: 1px;
}
.mainContainer #customerRole {
  text-transform: capitalize;
  font-weight: 300;
  color: var(--color-8);
  margin-bottom: 10px;
}
.mainContainer #customerReview {
  font-weight: 300;
  font-size: 1rem;
}

.mainContainer .btnContainer {
  margin: 15px auto;
}
#previousBtn,
#nextBtn {
  background-color: transparent;
  border: none;
  color: var(--color-5);
  font-size: 1.3rem;
  margin: auto 10px;
}
#previousBtn:hover,
#nextBtn:hover {
  color: var(--color-8);
}

#randomBtn {
  background-color: var(--color-9);
  color: var(--color-8);
  padding: 5px 20px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
}
#randomBtn:hover {
  background-color: var(--color-8);
  color: var(--color-1);
}

@media (max-width: 750px) {
  .mainContainer {
    width: 80vw;
  }
}
